.pokemonCard, img {
    width: 20rem;
}

.pokemonCard {
    outline: 3px solid black;
    height: 24rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.pokemonCard:hover {
    box-shadow: 0 0 0.5rem 0.5rem gold;
}

img {
    height: 20rem;
}

h4 {
    text-align: center;
}